<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>universe</title>
		<style>
            body {
				background-color: #ccc;
				color: #000;
			}

			a {
				color: #f00;
			}
		</style>
	</head>
	<body>
        <div id="info">universe</div>
		
		Name: <input type="text" id="name">
		X: <input type="number" id="x">
		Y: <input type="number" id="y">
		Z: <input type="number" id="z">
		Creator: <input type="text" id="creator">
        <button id="addObjButton">Create</button>

		<br>

		Name: <input type="text" id="searchName">
		<button id="searchPlanet">Search</button>

		<script type="module" src="assets/js/scene.js"></script>

		<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>

		<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-analytics.js"></script>
		
	</body>
</html>