<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>universe</title>
		<style>
            body {
				background-color: #ccc;
				color: #000;
			}

			a {
				color: #f00;
			}
		</style>
	</head>
	<body>
        <div id="info">universe</div>
		ID: <input type="text" id="id">
		Nome: <input type="text" id="name">
		X: <input type="text" id="x">
		Y: <input type="text" id="y">
		Z: <input type="text" id="z">
        <button id="addObjButton">Create</button>
		<button id="testButton">test</button>

		<script type="module" src="assets/js/scene.js"></script>

		<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>

		<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-analytics.js"></script>
		
	</body>
</html>